*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #540B0E;
    padding: 10px;
    border: solid;
}

header > h1 {
    color: #E09F3E;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #335C67;
}

.tabla-puntuacion {
    border: 3px solid #FFF3B0;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.etiqueta{
    background: #9E2A2B;
    font-size: 20px;
    padding: 2px 10px;
}

#usuario {
    position: absolute;
    top: 30px;
    left: -60px;
    border-radius: 4px;
    border: solid black;
}

#pc {
    background-color:#9E2A2B;
    position: absolute;
    top: 30px;
    right: -70px;
    border-radius: 4px;
    border: solid black;
}

.ayuda{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.regla{
font-size: 20px;
font-weight: bold;
border-radius: 4px;
width: 200px;
margin: 5px auto;
text-align: center;
border: solid;
}

.resultado {
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    width: 400px;
    margin: 5px auto;
    text-align: center;
    border: solid black;
    background-color: #E09F3E;
    color: #9E2A2B;
}

.opciones{
margin: 50px 0;
text-align: center;
}

.opcion{
    display: inline-block;
    font-size: 150px;
    border: 4px solid;
    border-radius: 50%;
    padding: 40px;
    margin: 0 50px;
    background-color:#540B0E;
}

.opcion:hover{
    cursor: pointer;
}

#mensaje{
    font-size: 20px;
    display: grid;
    font-weight: bold;
    border-radius: 4px;
    width: 300px;
    margin:auto;
    text-align: center;
    border: solid;
}